#root {
  margin: 0 auto;
  text-align: center;
}

#top-level-headline {
  background: white;
  border-bottom: thin solid #ccc;
  padding-bottom: 1rem;
}

#content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}