#game-output {
    position: relative;
}

#game-output h1 {

    font-size: 1.5rem;
    text-align: center;
}

#search-section {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 1rem;
}
#search-section input {
    padding: 0.15rem;
    border-radius: 5px;
    margin-left: 0.5rem;
}
#search-section label:not(:first-of-type) {
    margin-left: 1rem;
}

#card-draw {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 100%;
}

.card {
    padding: 1rem;
    background: white;
    border: thin solid #0f5729;
    border-radius: 8px;
    cursor: pointer;
}

.card:hover {
    background: rgb(19, 177, 56);
    filter: drop-shadow(3px 3px 3px rgb(38, 135, 82));
}

.card:active {
    background: darkgreen;
}

#cover {
    position: absolute;
    top: 0;

    display: grid;
    place-items: center;
    background: white;
    height: 110%;
    width: 100%;

    user-select: none;
    display: none;
    
    font-size: 2rem;
    font-weight: 700;
    text-align: center;

    border-radius: 10px;
    box-shadow: 0px 0px 8px white;

    z-index: 1;
}